.main-footer{
    position: relative;
    margin-bottom:-10 px;
    width: 100%;
}

.wrapper{
    height: 100vh;
}
.content-wrapper{
    min-height: 92%;
}

button{
    margin-left: 5px;
}

.table-actions{
    width: 150px;
}